/*
#f9a91a --- Laboratoria
#2e2e2a --- fondo
#e0e0d1 --- hover
#333 --- active
font-family - sams-serif 
*/

body{
	font-family: sans-serif;
}
ul{
	/*outline: 1px solid black;*/
	margin: 0;
	padding: 0;
	background: #2e2e2a;
	overflow: auto;
	position: fixed;
	left: 0;
	top: 97px;
	width: 100%;
}
li{
	list-style: none;
	/*outline: 1px solid red;*/
	line-height: 50px;
	/*display: inline-block;*/
	float: left;
}
ul li a{
	/*outline: 1px solid green;*/
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}
ul li a:hover{
	/*outline: 1px solid green;*/
	display: block;
	text-decoration: none;
	color: #000000;
	background:#f9a91a;
	padding-left: 20px;
}
ul li a:active{
	/*outline: 1px solid green;*/
	display: block;
	text-decoration: none;
	color: #000000;
	background:#f9a91a;
	padding-left: 20px;
}
.selected{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	background:#f9a91a;
	padding-left: 20px;
}
h1{
	margin: 0;
	position: fixed;
	left: 41%;
	color: #FFFFFF;
}
.sup{
	background: #2f251b;
	width: 100%;
	padding: 30px;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
}
main{
	position: relative;
	top: 130px;
	padding: 10px;
	z-index: -1;
}
h2{
	text-align: center;
}
.content{
	display: inline-block;
	width: 47%;
	text-align: justify;
	padding: 15px;
	
}
.img1{
	width: 96%;
	height: 300px;
	padding: 15px;
}
.img2{
	width: 100%;
	height: 140px;
}
footer{
	background-color: blue;
	position: absolute;
	top: 1650px;
	left: 0;
	width: 100%;
	text-align: center;
	background: #2e2e2a;
	color: #FFFFFF;
	font-weight: bold;
}